/* COLOR GLOSSARY */

$sandy-beach: #FCE9C4;
$english-tea: #E0C49D;
$baby-blue: #E3F6F7;
$sky-blue: #B1E5F9;
$lochness-monster: #468589;

/* FONT GLOSSARY */

$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;

/* WEBSITE SCHEMA */

$title-font: $montserrat;
$subtitle-font: $lora;
$header-font: $montserrat;
$text-font: $lora;
$list-font: $lora;
