---
layout: default
---

<link rel="stylesheet" type="text/css" href="assets/home.css">

<div class="my-main section">
  <h2>About Me</h2>
  <div class="links">
   <p><a href="https://indd.adobe.com/view/2ee63fc4-ba35-4bd1-8238-db3ebda3454f">Resume</a></p>
   <br>
   <p><a href="https://umaiyalsridas.wixsite.com/website">Art & Design</a></p>
   <br>
   <p><a href="https://umaiyalsridas.wixsite.com/website/photography">Photography</a></p>
  </div>
</div>

<div class="contact-me section">
  <h2>Contact Me</h2>
  <p>Email: usrida2@illinois.edu</p>
  <p><a href="https://www.facebook.com/profile.php?id=100009989972961">Facebook</a></p>
  <p><a href="https://www.instagram.com/art.umaiyal.sridas/">Instagram</a></p>
</div>
