---
layout: default
---

<link rel="stylesheet" type="text/css" href="assets/home.css">

<div class="top-cities section">
  <h2>Ranked Cities</h2>
    <p>1. Tokyo, Japan</p>
    <p>2. Delhi, India</p>
    <p>3. Shanghai, China</p>
    <p>4. Sao Paulo, Brazil</p>
    <p>5. Mexico City, Mexico</p>
    <p>6. Cairo, Egypt</p>
    <p>7. Dhaka, India</p>
    <p>8. Mumbai, India</p>
    <p>9. Beijing, China</p>
    <p>10. Osaka, Japan</p>
  <div class="links">
    <a href="datapoints.html">World Map</a>
    <a href="newdatapoints.html">Cities</a>
  </div>
</div>

<div class="contact-me section">
  <h2>Contact Me</h2>
  <p>Email: usrida2@illinois.edu</p>
  <p><a href="https://www.facebook.com/profile.php?id=100009989972961">Facebook</a></p>
  <p><a href="https://www.instagram.com/art.umaiyal.sridas/">Instagram</a></p>
</div>
